.cardWrapper {
    width: 150px;
    background: #fff;
    position: relative;
    flex-shrink: 0;
    margin: 10px;
    max-height: 250px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
img {
width: 100%;
height: 220px;
}
.title {
    width: 100%;
    transform: translateY(-42px);
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    height: 40px;
    background: rgb(0,0,0,0.5);
}
.bottom {
    transform: translateY(-42px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
}
.watched {
    flex: 0.75;
    align-self: center;
    border-right: 1px solid #eee;
}
.cross {
    flex: 0.25;
}
.done {
    position: absolute;
    left: 13px;
    width: 15px !important;
    bottom: 3px;
}
.detailWrapper {
    position: absolute;
    top: 0;
    background: #fff;
    height: 100%;
    font-size: 12px;
}