.container {
    width: 100%;
    background: #666666;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 20vh;
    font-size: 12px;
}
.searchContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
}
.Appicon {
    transform: translateY(5px);
}
.iconWrap {
    background: grey;
    transform: translateX(2px);
}
.icon {
    transform : translateY(5px)
}